<span style="color:#a30015; font-size:16px;">
  Hi <%= @user.email %>,</span>
<br/><br/>
Rumor has is that you forgot your password. No worries.  We know you want to get some great deals and change the world.
Just click the link below to reset your password and you can be on your merry way...<br/><br/>

<%= link_to "Click Here", edit_reset_password_path(@user.token) %> for reset your password.
<br/> .<br/>

Thanks for being a part of changing the world.<br/>

Thanks,<br/>
Kutangaza

<br/><br/>