<section xmlns="http://www.w3.org/1999/html">

  <!--Terms of Use-->
  <div class="heading">About</div>

  <div class="inner-page">

    <div class="content">
      <p>Kutangaza is Canadian free local classified site. Kutangaza offers a convenient, fun and easy way for people in the same city to buy, sell, trade and help each other out in areas such as services, housing, jobs, cars and goods.</p>
      <p>Kutangaza is also an environmentally friendly way to recycle things you no longer use without leaving your neighborhood. Because Kutangaza connections are between people who live near each other, you can always see and touch an item before you buy.</p>
      <p>With an easy-to-use format and an amazing variety of local ads, Kutangaza is a unique community where everyone is committed to sharing more and wasting less.</p>
      <p>The word “Kutangaza” means, <b>“Advertise”</b> in Swahili. This name was chosen because it delivers what we have in mind in creating this site – we drive your Ads for free! A place where people in the same community connect to share their values</p>
      <span class="purpal" >What are some of the most popular categories?</span>
      <ul>
        <li>Buy and Sell</li>
        <li>Pets</li>
        <li>Car & Vehicles</li>
        <li>Hotels</li>
        <li>Jobs</li>
        <li>Community</li>
        <li>Real Estate</li>
        <li>Personals</li>
        <li>Forum</li>
      </ul>
      <p>You can find a full, up to date list of the most popular searches on Kutangaza <%= link_to 'here', root_url %></p>
      <span class="purpal">Our objectives:</span>
      <ul>
        <li>Deliver a clean, safe and simple experience.</li>
        <li>Use user insights to deliver a better experience.</li>
        <li>Provide consumers a free site to list their ads.</li>
      </ul>
      <span class="purpal">There are some key posting rules that all users must adhere to:</span>
      <ul>
        <li>No duplicate or similar ads</li>
        <li>Local ads only</li>
        <li>Ads should be posted in the right category/ most relevant category</li>
        <li>No links to other classified/dating/job websites</li>
        <li>No keyword spamming</li>
        <li>No prohibited items</li>
        <li>No slanderous statements</li>
      </ul>
    </div>
  </div>
  <!--Terms of Use end-->

</section>
