<!--Terms of Use-->
<div class="heading" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Help</div>

<div class="inner-page">

  <div class="content">
     <div id="help">
        <h3 class="purpal">Do I have to register to post an Ad?</h3>
        <div>
          <p>No, you do not need to register to post an Ad on Kutangaza. Simply follow the instructions below to post your Ad.</p>
        </div>

        <h3 class="purpal">How do I post an Ad?</h3>
        <div>Posting an Ad is completely free. And there is no charge if you sell your item on Kutangaza. The site is totally free, no strings attached! Posting is easy. Simply follow the instructions below:
          <p>
            <ul>
              <li>Click "Post Ad" in the blue bar at the top of all Kutangaza pages.</li>
              <li>Chose a category for your Ad.</li>
              <li>Enter a title, price (if applicable), and description. You have the option of uploading up to four photos and entering your address (you can just put a nearby intersection or PMB if you want).</li>
              <li>Then enter your email address and click the "Post Your Ad" button.</li>
              <li>Finally, check your email for a message from Kutangaza. Click the "Post Confirmation" link in that email and your Ad will appear on the site.</li>
            </ul>
          </p>
        </div>

       <h3 class="purpal">How can I include images in my Ad?</h3>
       <div>
         <p>When you are on the "Post Ad" or "Edit Ad" page, click the "Browse..." button, which appears under the Images heading. Select a picture file from your computer's hard disk and click "OK". The picture will then be uploaded and attached to your Ad. You can add up to three more pictures using the same process. Remember a picture is worth a thousand words, so including one or more with your Ad will increase your chance of getting several replies.</p>
       </div>

       <h3 class="purpal">How can I increase the chance of getting a good response to my Ad?</h3>
       <div>
         <p>To increase the chance of getting a good response, follow these simple tips:
           Include one or more pictures in your Ad.
           Make the title and description as detailed as possible. For example, when selling a product include its brand, model number, condition, and features.
           If you are flexible on price, state that you will accept "best offer".
           Make it easy for buyer to pick up the item; let them know where the item is located and when you will be available.
           Tell your friends about Kutangaza. The more people who use Kutangaza, the more responses you'll get!</p>
       </div>

       <h3 class="purpal">How can I post an Ad in multiple cities? </h3>
       <div>
         <p>Kutangaza is designed for local trading. We intentionally do not enable you to post your Ad in multiple cities simultaneously. Please post your Ad in the city – or closest city – where you or your item is located.</p>
       </div>

       <h3 class="purpal">Why am I getting an error about unsupported HTML when I try to post an Ad?</h3>
       <div>
         <p>Kutangaza does not allow HTML in ads posted on the site as some HTML or JavaScript functions can be used for malicious purposes. To ensure our community is protected against this Kutangaza does not permit the use of HTML or JavaScript functions.
           This error can also occur if you compose your Ad in another program and then try to copy and paste it into the Ad contents box. To avoid this error, first paste the Ad's contents into Notepad be sure to remove any HTML links and then copy and paste it from there into the Ad contents box. If you continue to encounter this error and are not pasting into the edit box, then click on "Contact Kutangaza" link located at the bottom of our help pages and log a ticket as we’d be very happy to help.</p>
       </div>

       <h3 class="purpal">Why am I getting an error about banned words when I try to post a new Ad?</h3>
       <div>
         <p>First make sure the contents of your Ad do not violate our Posting policies. If your Ad does not violate our posting policy, then check the Ad and eliminate potentially offensive language. If you are still having trouble, contact us with the title and description of your Ad and we will help you identify and remove the banned words</p>
       </div>

       <h3 class="purpal">Why am I getting an error about banned words when I try to post a new Ad?</h3>
       <div>
         <p>First make sure the contents of your Ad do not violate our Posting policies. If your Ad does not violate our posting policy, then check the Ad and eliminate potentially offensive language. If you are still having trouble, contact us with the title and description of your Ad and we will help you identify and remove the banned words.</p>
       </div>

       <h3 class="purpal">Why am I being told that I posted too many Ads today?</h3>
       <div>
         <p>There is a limit of 25 Ads per person per day. This restriction is in place to prevent users from "spamming" the site. If you would like to post more than 25 Ads per day, please contact us.</p>
       </div>

       <h3 class="purpal">Why have I not received a confirmation email?</h3>
       <div>
         <p>If you have not received a posting confirmation email, please check any "Spam" or "Junk" email folders to see if the confirmation email from Kutangaza was sent there.
           Ensure that Kutangaza-hk-support@Kutangaza.com.hk is added to your email “safelist”.
           If you still can't find the email, please request lost email from the link below: Request Lost Email (This link will take you to a page where you will input your email address, please make sure you type in your email correctly as all the required information to manage your ad will be sent to that address)</p>
       </div>

       <h3 class="purpal">Why was my Ad removed from the site?</h3>
       <div>
         <p>There are several reasons why an Ad may have been removed from the site including:
           <ul>
             <li> The Ad violated our Posting policies.</li>
             <li>Users flagged the Ad as being spam or offensive.</li>
             <li>The Ad was posted in multiple cities. (Kutangaza is about local trading, so ensure you only post in your city.)</li>
             <li>The Ad expired automatically after 120 days of it being posted.</li>
           </ul>
         </p>
       </div>

       <h3 class="purpal">How long do Ads last on the site?</h3>
       <div>
         <p>Ads are automatically removed from the site 120 days after being posted. You can however remove your Ad from the site at any time or repost it after it has expired using the steps described here.</p>
       </div>

       <h3 class="purpal">How can I edit, repost or delete my Ad from the site?</h3>
       <div>
         <p>If you are a registered user, then click here to edit or delete your Ad. If you aren't a registered user, find your "Posting Confirmation" email from Kutangaza that you got when you posted your Ad on the site. This email will have links to edit or delete your Ad. If you've lost or deleted this email, click here and we will send it to you again.</p>
       </div>

       <h3 class="purpal">I can’t find my ad. What's happened?</h3>
       <div>
         <p>We like to keep things friendly around here. This means no swear words or adult/ sexually explicit language is allowed in ads. Take a look at the title and description of your ad and remove any words that are commonly regarded as swear words or sexual language.
           Ads that might go against the friendliness of Kutangaza can also be delayed by up to 24 hours before they are posted on the site. This is done to help stop SPAM and such bad Ads from being posted on Kutangaza. We are committed to creating a safer classified community site, for this reason ads can take up to 24 hours to pass through our system and become visible to other users. If you can't find your Ad in search results, there's a good chance it was delayed.
           Other possibilities for why you can’t see your ad are:
         <ul>
           <li>If you are not a registered user, you should have received a message in your email inbox to activate your ad. If you haven't received this email (Please first check any "Spam" or "Junk" email folders in your mailbox to see if the confirmation email from Kutangaza was sent there. If your junk / spam settings are set at high, then Kutangaza emails may not even be delivered to the spam / junk folder. You may wish to add Kutangaza to your safe senders list if you have one. Please ensure that support@Kutangaza.com is added to your email “safelist”.)<br>
             If you would like to receive this confirmation email again please Request Lost Email here (This link will take you to a page where you will input your email address, please make sure you type in your email correctly as all the required information to manage your ad will be sent to that address)</li>
           <li>Your ad is there but it can be hard to find amongst all the other ads! Use the search box on the Kutangaza homepage and enter your Ad ID found at the top right of an Ad page to locate your ad. If you don't know the Ad ID then enter in the search box some text that you included in your ad, e.g. something you put in the description or title.</li>
           <li>Your ad has expired. If you posted your ad some time ago (or for an event that has passed) then your ad may have expired.</li>
           <li>Your ad has been removed from the site; for possible reasons please view here for general and category specific possible removal reasons.</li>
           <li>Your ad has been put on hold because it is against policy, you must edit it to comply with the policies.
             <ul>
               <li>If you are a registered user please follow these steps to edit and repost your ad - Go to home page of Kutangaza and click on sing in > go to My Kutangaza > My Ads > Ads on hold > edit your ad to comply with our Posting policies > post my ad</li>
               <li>If you aren't a registered user please refer to the confirmation email that was sent when you first posted your ad and use the available edit link to amend your ad to comply with our Posting policies and repost your ad.</li>
               <li>If you've lost or deleted this email, please request lost email from the link below:
                 Request Lost Email here to have the confirmation email resent to you. (This link will take you to a page where you will input your email address, please make sure you type in your email correctly as all the required information to manage your ad will be sent to that address)</li>
             </ul>
             If you have checked out all of these possibilities and none of them apply to your ad then please let us know and we will take a look.
           </li>
         </ul>
         </p>
       </div>

       <h3 class="purpal">How do I complete a transaction using Kutangaza?</h3>
       <div>
         <p>Kutangaza should only be used to complete local transactions. If you are buying or selling a product, the transaction should take place in person at a location decided upon by both parties. This way you can avoid shipping charges, exchange rates, and most importantly, minimize the risk of fraud.</p>
       </div>

       <h3 class="purpal">How can I report any scam emails I receive?</h3>
       <div>
         <p>If you get any suspicious emails from Kutangaza users, please contact us immediately. Remember that the best protection from scams is to buy and sell with people in your own city. And, as always, if something sounds too good to be true, then it probably is.</p>
       </div>

       <h3 class="purpal">My ad was put on hold how do I edit my ad to comply with the policies?</h3>
       <div>
         <p>At Kutangaza we want to make sure that the site is as clean, friendly and usable as possible for everyone. Ads that fall outside the posting rules stated in our Posting policies or our Terms of Use may be put on hold or removed from the site. Posters that regularly break our posting policies may find their future use of the site restricted.<br>
           If you are a registered user please follow these steps to edit and repost your ad: login > go to My Kutangaza > My Ads > Ads on hold > edit your ad to comply with our rules > post my ad
           If you aren't a registered user please refer to the confirmation email that was sent when you first posted your ad and use the available edit link to amend your ad to comply with our rules and repost your ad.<br>
           If you've lost or deleted this email, please request lost email from the link below:
           <b>Request Lost Email</b>
           to have the confirmation email resent to you.<br>
           Please remember to delete your Ad after you have sold an item, filled a room, no longer offer the advertised service.<br>
           <b>Error: "Thanks for posting your ad" with a red X</b><br>
           Kutangaza is meant to be used by the local community to buy, sell, trade and connect locally. Users that see this message are often trying to use Kutangaza from outside of Hong Kong.
           Please post on the Kutangaza site geographically closest to you. Ads will only be accepted that are geographically specific and locally relevant. This local community approach is what Kutangaza is all about.<br>
           If you are local and you still get this message, then it means your local Internet Service Provider (ISP) is using a foreign IP. In this situation, please contact your ISP for more information on how to change this and make your IP local to Hong Kong.<br>
           Kutangaza is all about connecting local people within their local communities with each other.<br>
           <b>Error: "This ad appears to contain content that goes against our policies."</b>
           This error message will be shown when you create an Ad with content that appears to go against our policies. Often this error occurs because you are using words in your Ad that contain profanity, violate Kutangaza policies, or appear to be SPAM. Please click on below link to have a look at the site <b>Posting policies</b> and <b>Prohibited items</b> list.
           If you are local and you still get this message, then it means your local Internet Service Provider (ISP) is using a foreign IP. In this situation, please contact your ISP for more information on how to change this and make your IP local to Hong Kong.
           Kutangaza is all about connecting local people within their local communities with each other.
         </p>
       </div>

       <h3 class="purpal">What is not allowed on Kutangaza?</h3>
       <div>
         <p>The list below details what can't be posted on Kutangaza:
            <ul>
              <li>Alcoholic Beverages</li>
              <li>Blood, Bodily Fluids and Body Parts</li>
              <li>Burglary Tools</li>
              <li>Counterfeit Products, replicas or knock-off brand name goods</li>
              <li>Electronic Surveillance Equipment</li>
              <li>Embargoed Goods</li>
              <li>Endangered or protected species, or any part of any endangered or protected species</li>
              <li>Escort services that offer or indicate sexual services</li>
              <li>Fireworks, Destructive Devices and Explosives</li>
              <li>Government and Transit Badges, Uniforms, IDs, Documents and Licenses</li>
              <li>Hazardous Materials including but not limited to radioactive, toxic and explosive materials</li>
              <li>Identity Documents, Personal Financial Records & Personal Information</li>
              <li>Illegal Drugs, controlled substances, substances and items used to manufacture controlled substances and drugs, & drug paraphernalia</li>
              <li>Illegal items and services</li>
              <li>Illegal telecommunication and electronics equipment such as access cards, password swiffers, radar scanners, traffic signal control devices or cable descrambler</li>
              <li>Items issued to any Armed Force that have not been disposed of in accordance with that country's demilitarization policies</li>
              <li>Items which encourage or facilitate illegal activity</li>
              <li>Lottery Tickets, Sweepstakes Entries and Slot Machines</li>
              <li>Material that is obscene, pornographic, adult in nature, or harmful to minors</li>
              <li>Material that infringes copyright, including but not limited to software or other digital goods which you are not authorized to sell</li>
              <li>Nonprescription drugs drugs that make false or misleading treatment claims, or treatment claims that require FDA approval</li>
              <li>Offensive material</li>
              <li>Pesticides or hazardous materials</li>
              <li>Pictures or images that contain nudity</li>
              <li>Plants and insects that are restricted or regulated</li>
              <li>Prescription drugs and devices</li>
              <li>Prostitution or ads that offer sex, sexual favors or sexual actions in exchange for anything</li>
              <li>Recalled items</li>
              <li>Stocks and Other Securities</li>
              <li>Stolen property</li>
              <li>Tobacco products</li>
              <li>Used cosmetics</li>
              <li>Used or rebuilt batteries or batteries containing mercury</li>
              <li>We do not accept ads selling body parts/bodily fluids, adoption or surrogacy anywhere on the site</li>
              <li>Weapons and related items (including, but not limited to firearms, firearm parts and magazines, ammunition, paintball guns, BB and pellet guns, tear gas, tasers, stun guns, switchblade knives, and martial arts weapons)</li>
            </ul>
         </p>
       </div>

       <h3 class="purpal">How can I contact the poster of an Ad?</h3>
       <div>
         <p>
           Replying to an Ad is completely free. To contact the poster of an Ad, use the form on the right hand side of an Ad page. Enter your name, email address and a message. Then type in the verification number and click the "Send" button. The Ad poster will get the message sent to them by email and will respond to you directly via email.
         </p>
       </div>

        <h3 class="purpal">Are Ads screened before they go on the site?</h3>
        <div>
          <p>
            Unfortunately, we can't manually screen Ads since we get thousands of Ads posted on the site each day. If you see an Ad that looks to be Spam, Offensive, Miscategorised, or Illegal please flag it by clicking on the link on the bottom right side of the Ad page.
          </p>
        </div>

        <h3 class="purpal">What should I do if I see an Ad that I think is spam, offensive, miscategorised or illegal?</h3>
        <div>
          <p>
            If you see an Ad which you think is illegal, prohibited or otherwise a bad fit for the Kutangaza site, please report it by clicking one of the "Reporting this Ad" links found near the bottom right of an Ad's page. Illegal Ads can also be reported by contacting us using the "Report illegal/infringing Ad" link also found in the same area of the page. Please be sure to include the Ad number whenever you contact us.
          </p>
        </div>

        <h3 class="purpal">How do the "Report this Ad" links work and how do they help the community?</h3>
        <div>
          <p>
            Since the Kutangaza team can not review the thousands of ads posted each day, the "Report this Ad" links enable the hundreds of thousands of Kutangaza users that visit the site each week to identify Ads that do not belong on the site. Once an Ad has been reported enough, the Kutangaza team will act quickly to remove it. An Ad can be reported as Spam, Miscategorised, Offensive, No longer current or Illegal. Use the links found on the Ad page in the lower right corner to report an Ad.
          </p>
        </div>

        <h3 class="purpal">What recourse do I have if my transaction has gone bad or if I have been defrauded?</h3>
        <div>
          <p>
            If you feel that your transaction with another Kutangaza user has gone bad or you have been cheated by a fraudulent Ad on the site, please let us know about it. If appropriate, you should contact the police to pursue criminal charges. Remember to trade locally and transact in-person to reduce the risk that your transaction will "go bad".
          </p>
        </div>

        <h3 class="purpal">Does Kutangaza offer any type of mediation between buyers and sellers?</h3>
        <div>
          <p>
            Kutangaza is a local platform to connect buyers and sellers. All transactions and the details of the transactions are completed between the two parties. At no time does Kutangaza get involved in these details or the transaction itself. We do not offer any types of verification of who a person is. If you have any questions or concerns about a transaction please contact the other party and do your best to resolve the situation between the two of you. If you feel you have been defrauded, contact your local police department.
          </p>
        </div>

        <h3 class="purpal">Can I scalp tickets on Kutangaza?</h3>
        <div>
          <p>
            Scalping tickets is regulated, if not against the law, in many states. We do not allow tickets to be sold over the value set by each jurisdiction. Since we can not know the price of every ticket for every event in every city, we encourage the community to use the "Report this Ad" links to notify us when they see tickets violating this policy.
          </p>
        </div>

        <h3 class="purpal">Is Kutangaza really free?</h3>
        <div>
          <p>
            Yes, Kutangaza is completely free. This includes both posting an Ad and replying to an Ad. You will not be charged if your item sells through a posting on Kutangaza.
          </p>
        </div>

        <h3 class="purpal">What are the benefits to optional registration?</h3>
        <div>
          <p>
            There are several benefits of being a registered user including:
            <ul>
              <li>Ads from registered users are put on the site immediately (no need to confirm your email address again).</li>
              <li>Registered users can participate in conversations taking place on the forum.</li>
              <li>Registered users can manage all their Ads from one place – My Kutangaza – including editing and deleting. To go to My Kutangaza, <%= link_to "Click here", mykutangaza_path %></li>
              <li>Registration is free and takes less than a minute. <%= link_to "Register now", new_user_path %></li>
             </ul>
          </p>
        </div>

        <h3 class="purpal">How to register and post ads while registered?</h3>
        <div>
          <p>
            Please follow below steps for registering on Kutangaza:
          <ol>
            <li>enter email address (making sure you have spelt it correctly)</li>
            <li>assign a password</li>
            <li>re-type password</li>
            <li>if you want a nickname please enter in to the nickname field (optional)</li>
            <li>if you have a Skype id please enter in the Skype name field (optional)</li>
            <li>read our terms of use and privacy policy</li>
            <li>and click on “Register” and you will be sent an activation email and then please follow instructions to confirm your email.</li>
          </ol>
          Registration is free and takes less than a minute. <%= link_to "Register now", new_user_path %><br>
          After registering please follow the posting process below;
          <ul>
            <li>Sign in using your email/username by clicking on this option on the right hand side of the home page</li>
            <li>Click on My Kutangaza tab</li>
            <li>Go to My Ads</li>
            <li>Registration is free and takes less than a minute. <%= link_to "Register now", new_user_path %></li>
            <li>Click on post and ad</li>
            <li>Select the category you want to post in</li>
            <li>Fill out the required fields</li>
            <li>Only click on “browse” if you want to upload photos</li>
            <li>Scroll down and preview if you want to see what the ad looks like or</li>
            <li>Click on Post your ad if you are happy with it</li>
            <li>Then you will receive a confirmation page once it has been accepted</li>
            <li>Please allow up to 24 hours for the ads to go live on the site</li>
          </ul>
          <b>Protect your account: </b>Ensure that whenever you sign in or registering for the first time to Kutangaza that you check it’s a secure sign in page. Make sure the web address in your browser starts with <b>https://secure.Kutangaza.com</b>
          </p>
        </div>

        <h3 class="purpal">How can I change email address?</h3>
        <div>
          <p>
            If you are a registered user and would like to change your email address you can do this via My Kutangaza > My Profile. Enter your new email address and save the changes, confirm your password when prompted. A confirmation email will be sent to your new and old address, please follow the instructions provided. This option is not available to unregistered user, if you would like to know further information on how to register with Kutangaza please refer to the above
            <a href="#">How to register and post ads while registered?</a> link.
          </p>
        </div>

        <h3 class="purpal">Why isn't there a Kutangaza for the city I live in?</h3>
        <div>
          <p>
            If you think there should be a Kutangaza site for the city you live in, then please add your name and comments to the <b> Kutangaza Feedback </b> discussion. In the mean time we encourage you to use Kutangaza in the city nearest to you.
          </p>
        </div>

     </div>

  </div>

</div>
<!--Terms of Use end-->