<section>

  <!--Terms of Use-->
  <div class="heading">Privacy Policy</div>

  <div class="inner-page">

    <div class="content">
      This privacy describes how the Kutangaza website, tools, applications and services handles your personal information. Kutangaza collects, uses, and shares personal information to help Kutangaza work and to keep Kutangaza safe (details below). This policy is effective December 2012.<br>
      <br>
      <h2>Collection</h2>
      Information posted on Kutangaza is obviously publicly available. Our servers are located in the United States, and elsewhere in the world where Kutangaza has facilities. Therefore, if you chose to provide us with personal information, you are consenting to Kutangaza’s collection, use, disclosure of your personal information and to the transfer and storage of that information on our servers. Kutangaza collects and stores the following personal information:
      <ul>
        <li>Email address, phone numbers, physical contact information, and (depending on the service used) sometimes financial information (including debit card, credit card and billing information);</li>
        <li>Computer sign-on data, statistics on page views, traffic to and from Kutangaza and ad data (all through cookies – you can take steps to disable the cookies on your browser although this is likely to affect your ability to use the site);</li>
        <li>Other information, including users IP address and standard web log information.</li>
      </ul>

      <span class="purpal">Use</span> : Kutangaza uses users’ personal information to:
      <ul>
        <li>Provide our services;</li>
        <li>Track, confirm and fulfill purchases;</li>
        <li>Encourage safe trading and enforce our policies;</li>
        <li>Customize, measure, and improve user experience and our services, content, and advertising;</li>
        <li>Deliver targeted marketing, service updates, and promotional offers to you according to your preferences;</li>
        <li>Do other things for users as described when Kutangaza collects the information.</li>
      </ul>

      <span class="purpal">Disclosure </span> : Kutangaza doesn’t sell or rent users’ personal information to third parties for their marketing purposes without user’s explicit consent. Kutangaza may disclose personal information to respond to legal requirements, enforce our policies, respond to claims that a posting or other content violates other’s rights, or protect anyone’s rights, property, or safety Kutangaza may also share personal information with.
      <ul>
        <li>Corporate affiliates who help detect and prevent potentially illegal acts and provide joint services. (Our corporate affiliates will market only to users who ask them to).</li>
        <li>Service providers who help with our business operations.</li>
      </ul>

      <span class="purpal">Communications and email tools </span>: You agree to receive marketing communications from us unless you tell us that you prefer not to receive such communications. If you don’t wish to receive marketing communications from us, simply indicate your preference by following directions provided with the communication. You may not use our site or communication tools to harvest address, send spam or otherwise breach our <strong>Terms of Use</strong> or<strong> Privacy Policy</strong> Kutangaza may automatically scan and manually filter email messages sent via our communication tools for malicious activity or<strong> prohibited content</strong>, but Kutangaza does not permanently store such messages. If you use our tools to send content to a friend, Kutangaza doesn’t permanently store to your friends’ addresses or use or disclose them for marketing purposes. To report spam from other users, please contact customer support.<br><br>

      <span class="purpal">Access, Modification, and Deletion </span>: You can see, modify or erase most of your personal information by reviewing and modifying your posting or account status page, by signing on to your account or by contacting customer support to review any personal information Kutangaza stores. Kutangaza deletes personal information when Kutangaza retains personal information as permitted by law to resolve disputes, enforce our policies; and prevent fraudsters from coming back. If you have further questions, you can write to:<br><br>

      <span class="purpal">Kutangaza Inc</span><br>
      <a href="mailto:support@kutangaza.com;">support@kutangaza.com</a><br>
      <br>

      <span class="purpal">Security</span> : Kutangaza uses lots of tools (encryption, passwords, physical security) to protect your personal information against unauthorized access and disclosure, but as you probably know, Kutangaza makes no guarantees.

      <br><br>

      <span class="purpal">Cookies</span> : Kutangaza or our services providers may use “cookies” (small files placed on your hard drive) on certain of our pages to help analyze our web page flow; customize our services, content and advertising, measure promotional effectiveness, and promote trust and safety. A few important things you should know about cookies are that:
      <ul>
        <li>Kutangaza offers certain features that are available only through the use of cookies.</li>
        <li>Kutangaza uses cookies to help identify you and maintain your signed-in status.</li>
        <li>You are always free to decline cookies if your browser permits, although doing so may interfere with your use of some of our sites or services. For more information on your choices about accepting cookies, consult your browser help function.</li>

      </ul>
      <span class="purpal">General</span> : Kutangaza may update this policy at anytime, with updates taking effect when you next use the site or after one month, whichever is sooner. If Kutangaza are involved in a merger or acquisition, Kutangaza may share personal information with another company, but this policy will continue to apply. Send questions about this policy to customer support.


    </div>

  </div>
  <!--Terms of Use end-->

</section>
