<section>

  <!--Terms of Use-->
  <div class="heading">Program Policies</div>

  <div class="inner-page">

    <div class="content">
      <h1>Prohibited Actions</h1>
      To uphold the quality and reputation of Kutangaza free classified, your use of this service is subject to these program policies. If you are found to be in violation of our policies at any time, as determined by Kutangaza in its sole discretion, we may warn you or suspend or terminate your account.<br>
      <br>
      In addition to the violations described in the terms of use, users may not:
      <ul>
        <li>Send, upload, distribute or disseminate or offer to do the same with respect to any unlawful, defamatory, harassing, abusive, fraudulent, infringing, obscene, or otherwise objectionable content.</li>
        <li>Illegally transmit another’s intellectual property or other proprietary information without such owners or licensor’s permission.</li>
        <li>Use Kutangaza to violate the legal rights of others.</li>
        <li>Post, Sell, Trade or resell the following content on Kutangaza:</li>
        <ol>-	Adult or Erotic Products and Services</ol>
        <ol>-	Fireworks, Destructive Devices and Explosives</ol>
        <ol>-	Government and Transit Uniforms, IDs and Licenses</ol>
        <ol>-	Illegal Drugs & Drug Paraphernalia</ol>
        <ol>-	Electronic Surveillance Equipment designed or used primarily to illegally intercept/record the private actions or interactions of others without their knowledge or permission</ol>
        <ol>-	Blood, Bodily Fluids and Body Parts</ol>
        <ol>-	Counterfeit Products</ol>
        <ol>-	Illegal Services</ol>
        <ol>-	Escort or accompanying services</ol>
        <ol>-	Identity Documents, Personal Financial Records & Personal Information (in any form, including mailing lists)</ol>
        <ol>-	Stolen Property</ol>
        <ol>-	Obscene Material and Child Pornography</ol>
        <ol>-	Prostitution or ads that offer sex, sexual favors or sexual actions in exchange for money</ol>
        <ol>-	Fireworks, Destructive Devices and Explosives</ol>
        <ol>-	Embargoed Goods</ol>
        <li>Intentionally distribute viruses, worms, or Trojan hors
          es, corrupted files, hoaxes or any other items of a destructive or deceptive nature</li>
        <li>Generate or facilitate unsolicited commercial email (SPAM).</li>
        <li>Promote or encourage illegal activity</li>
      </ul>

      <span class="purpal">Security</span> :You must notify Kutangaza of any breach of security related to the Services, including but not limited to authorized use of your password or account. To help ensure the security of your password or account, please sign out from your account at the end of each session.

    </div>

  </div>
  <!--Terms of Use end-->

</section>
