<section>

  <!--Terms of Use-->
  <div class="heading">Terms of Use</div>

  <div class="inner-page">

    <div class="content">
      <h1>Welcome to Kutangaza!</h1>
      Thanks for using our products and services. “Kutangaza” is provided to you by Kutangaza Incorporated Edmonton, Canada.
      By accessing Kutangaza you are agreeing to the following terms. Please read them carefully. <br>
      <br>
      <h2>Using our Services</h2>
      You must follow any policies made available to you with the services. You will not do the following things:
      <ul>
        <li>Be false or misleading</li>
        <li>Misuse our services. For example, interfere with our services or try to access them using a method other than the interface and the instructions that we provide.</li>
        <li>Violate any laws or our Prohibited Content Policy.</li>
        <li>Copy, modify, or distribute any other person’s content.</li>
        <li>Distribute virus, spam or content that may harm Kutangaza or the interests or property of Kutangaza users.</li>
        <li>Infringe any third-party right.</li>
        <li>Impose an unreasonable load on our infrastructure or interfere with the proper working of the Kutangaza;</li>
        <li>Use any robot, spider or other automated means to access Kutangaza and collect content for any purpose without our express written permission;</li>
        <li>Harvest or otherwise collect information about others, including email addresses, without their consent;</li>
        <li>Bypass measures used to prevent or restrict access to Kutangaza.</li>
      </ul>

      <span class="purpal">Abusing kutangaza</span>: Please use the flagging system to tell us about any problems or offensive content so that together we can keep the site working properly. We may limit or terminate our service, remove hosted content and take technical and legal steps to keep users off Kutangaza if we think that they are creating problems or acting inconsistently with the letter or spirit of our policies. However, whether we decide to take any of these steps, remove hosted content or keep a user off Kutangaza or not, we do not accept any liability for monitoring Kutangaza or for unauthorized or unlawful content on Kutangaza or use of Kutangaza by users.<br><br>

      <span class="purpal">Business uses of our Services</span>: If you are using our Services on behalf of a business, that business accepts these terms. It will hold harmless and indemnify Kutangaza and its affiliates, officers, agents, and employees from any claim, suit or action arising from or related to the use of the services or violation of these terms, including any liability or expense arising from claims, losses, damages, suits, judgments, litigation cost and attorneys’ fees.<br><br>

      <span class="purpal">Fees and Services</span>: Using Kutangaza is generally free. We may charge fees for certain services. If the service you use charges a fee, you will be able to review and accept that charge. <br><br>

      <span class="purpal">Content</span>: Kutangaza contains stuff from us, you, and other users. You agree not to copy, modify, or distribute Kutangaza, our copyrights or trademarks. When you give us content, you are granting us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable right to exercise the copyright, publicity, and database rights to that content. (We need these rights to host and display your content.) If you believe that your rights have been violated, please notify our designated copyright agent at Kutangaza Customer support and we will investigate the matter. We reserve the right to remove content where we have grounds for suspecting the violation of these terms or of any party’s rights. <br><br>

      <span class="purpal">Reporting Intellectual Property Infringements</span> (Verified Rights Owners) do not post content that infringes the rights of third parties. This includes, but is not limited to; content that infringes on intellectual property rights such as copyright and trademark (e.g. offering counterfeit items for sale). We reserve the right to remove content where we have grounds for suspecting the violation of these terms, our policies or of any party’s rights. The following steps are for reporting a listing to Kutangaza that you believe to be infringing on your intellectual property rights. Only the intellectual property rights owner can report of potentially infringing items or listings to Kutangaza customer support. <br><br>

      <span class="purpal">Liability</span>: You agree not to hold us responsible for things other users post or do. As most of the stuff on Kutangaza comes from other users, we do not guarantee the accuracy of postings or user communications or the quality, safety, or legality of what’s offered. We also cannot guarantee continuous or secure access to our services. Accordingly, to the extent legally permitted we expressly disclaim all warranties, representations and conditions, express or implied, including those of quality, merchantability, merchantable quality, durability, fitness for a particular purpose and those arising by statute. We are not liable for any loss, whether of money (including profit), goodwill, or reputation, or any special, indirect, or consequential damages arising out of your use of Kutangaza, even if you advise us or we could reasonably foresee the possibility of any such damage occurring. Some jurisdictions do not allow the disclaimer of warranties or exclusion of damages, so such disclaimers and exclusions may not apply to you. <br><br>

      <span class="purpal">Personal Information</span>: By using Kutangaza, you agree to the collection, transfer, storage and use of your personal information by Kutangaza Inc on servers located in the United States and elsewhere described in our privacy policy.<br>
      <br>

      <span class="purpal">General</span>: These terms and the other policies posted on Kutangaza constitute the entire agreement between Kutangaza Inc and you, superseding any prior agreements. This won’t affect your statutory rights if you are a consumer and applicable consumer law requires application of another law (such as the law of your country of residence) for certain topics. If we don't enforce any particular provision, we are not waiving our right to do so later. If a court strikes down any of these terms, the remaining terms will survive. We may automatically assign this agreement in our sole discretion in accordance with the notice provision below. Except for notices relating to illegal or infringing content, your notices to us must be sent by registered mail to: <br>
      <br>

      <span class="purpal">Kutangaza Inc</span><br>
      <a href="mailto:support@kutangaza.com;">support@kutangaza.com</a>
    </div>

  </div>
  <!--Terms of Use end-->

</section>
