<!--Terms of Use-->
<div class="heading">Safety Tips</div>

<div class="inner-page">

  <div class="content">

    There are unscrupulous people in all walks of life and the Internet is no different. At Kutangaza we treat every instance of fraud, abuse or spam extremely seriously and do our very best to protect our users and make your visit to Kutangaza safe and enjoyable.<strong> But we also encourage you to be on your guard</strong> and so, to help you stay safe, we have pulled together some key information on things to watch out for and some top tips.<br><br>

    <strong>Remember that Kutangaza is a local classifieds web site and ads are not reviewed before they go live on the site.</strong><br><br>


    <span class="purpal">How to report scams and fraud:</span><br>
    <ul>
      <li>If you see an ad on the Kutangaza site that you suspect is Spam, illegal, or otherwise violates Kutangaza <a href="#">Posting Policies</a>, please click on the links found under "Report this Ad" in the top right of the ad's page. Reporting ads brings the ad to our attention so that we will review and can take it down quickly if appropriate.</li>
      <li>If you reply to an ad and the person who posted the ad emails you with a suspicious request (eg. asks for money to be sent to them via a payment service), please <a href="#">forward us</a> the email and stop all communications with that person.</li>
      <li>If you are the victim of fraud, <a href="#">inform Kutangaza</a> and your local police service.</li>
      <li>Report all suspicious email addresses and web sites to <a href="#">spoof@Kutangaza.com.hk</a> and make sure you copy and paste the email communication received in its entirety to the email.<br><br>
        What is spoof/fraudulent email or web site? <a href="#">Click here</a> for further detail. </li>
      <li>If you have any other security questions that aren't answered above, then please <a href="#">contact us</a>.</li>
    </ul>


    <span class="purpal">Buying & Selling – top tips for staying safe:</span><br>
    <ul>
      <li>When buying or selling, you should <strong class="orange">meet in-person to see the item and exchange money</strong>. The purpose of the Kutangaza “For Sale” category is to encourage face-to-face, local, trading. For personal ease and safety, always ensure you take someone with you. If you're answering a home service ad, ask the poster to produce identity and proof of qualification before inviting them into your home.</li>
      <li><strong class="orange">Never send your item before receiving the money</strong>. This includes never mailing a cheque or using payment services like Bidpay, Western Union or Money Gram to pay for items found on Kutangaza.</li>
      <li><strong class="orange">Never send or wire money to sellers or buyers</strong>. This includes never mailing a cheque or using payment services like Bidpay, Western Union or Money Gram to pay for items found on Kutangaza. It is our belief that these forms of funds transfer are favoured by fraudsters.</li>
      <li><strong class="orange">Kutangaza doesn't offer any sort of buyer protection / payment programs</strong>. Any emails you receive that talk about such systems are scams, even if they may have the Kutangaza logo. If you receive any emails promoting these services, please <a href="#">report it to us</a>. </li>
      <li><strong class="orange">Kutangaza doesn't offer any sort of Live Chat Support</strong>. If you receive any emails containing a Live Chat link, please <a href="#">report it to us</a>.</li>
      <li>Please also <strong class="orange">take special care when buying expensive items</strong> like mobile phones, laptops, plasma TVs, airline tickets and even tickets for shows/gigs. When buying airline tickets we suggest you take the seller's name and ticket number, check the ticket exists and take responsibility yourself for changing the names.</li>
      <li>When <strong class="orange">buying tickets</strong> for events please be aware that some tickets may have terms printed on them that limit the ability of the original buyer to sell them to someone else.</li>
      <li><strong class="orange">Never provide your personal or banking information</strong> (e.g. credit card number) to others over the Internet.</li>
      <li><strong class="orange">Make yourself aware of common scams and fraud</strong>. Do not believe the promise of large sums of money for your help in any task.</li>
      <li><a href="#">Report it to us</a> <strong class="orange">any attempted fraud or suspicious emails, ads, or other activity by community members</strong>. In case of fraud or illegal activity, we also recommend that you report it to the Police.</li>
      <li><strong class="orange">Use common sense</strong>. If something sounds too good to be true, it probably is.</li>
    </ul>


  </div>

</div>
<!--Terms of Use end-->