.margin_140{
 margin-top: -140px !important;	
 margin-left: 2px !important;	
}
.margin_140_job{
 margin-top: -140px !important;	
 margin-left: 20px !important;		
}
.margin_130{
  margin-top: -40px !important;
  margin-left: 2px !important;			
  margin-right: 450px !important;
}