/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:1148db8b855759ca1c9e5f5df164bc08$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:image-url("kutangaza.png");}

.arrow-left {width:36px; height:36px; background-position: -223px -2px}
.arrow-right {width:36px; height:36px; background-position: -185px -2px}
.buy-sell-icon {width:36px; height:35px; background-position: -261px -2px}
.deal-arrow {width:16px; height:25px; background-position: -20px -98px}
.deal-arrow2 {width:16px; height:25px; background-position: -2px -98px}
.go {width:27px; height:22px; background-position: -292px -65px}
.my-kutangaza {width:110px; height:24px; background-position: -38px -98px}
.new-classifieds {width:181px; height:52px; background-position: -2px -2px}
.post-ad-free {width:104px; height:24px; background-position: -150px -98px}
.post-ad-orange {width:288px; height:40px; background-position: -2px -56px}
.register {width:66px; height:24px; background-position: -256px -98px}
.signin {width:61px; height:24px; background-position: -292px -39px}
.site {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:image-url("logout.png");}
.logout {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:image-url("site.png");}
