<!--left side-->
<div class="left">
  <!--slider-->
  <div class="gallery">
    <div class="inner">
      <span style="font-size: 15px;font-weight: bold; padding: 20px" > Select a Category. </span>
    </div>
  </div>
  <!--slider end-->
  <div>
    <%= render partial: 'all_categories'%>
  </div>
  <!--services-->
</div>
