<div class="container">
  <%=form_for @advert=Advert.new,  :url => adverts_path(), :method=>"post" do |f| %>
    <input type="hidden" name="sub_category" value="<%= @sub_category.name %>">
    <div class="row-fluid">
      <div class="span2">
        <strong>Ad Type *</strong>
      </div>
      <div class="span10">
        <input type="radio" name="advert[ad_type]" value="1"> I am offering<br/>
        <input type="radio" name="advert[ad_type]" value="2"> I want
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        <strong>Price *</strong>
      </div>
      <div class="span6">
        <input type="radio" name="advert[pricing_strategy]" value="0"> $</input>
        <input type="text" name="advert[price]"></input><br>
        <input type="radio" name="advert[pricing_strategy]" value="1"> Free</input><br>
        <input type="radio" name="advert[pricing_strategy]" value="2"> Please contact</input><br>
        <input type="radio" name="advert[pricing_strategy]" value="3"> Swap/ Trade</input>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        <strong>For Sale By *</strong>
      </div>
      <div class="span10">
        <input type="radio" name="advert[sale_by]" value="owner"> Owner </input><span>-  It's completely FREE to sell</span><br>
        <input type="radio" name="advert[sale_by]" value="dealer"> Dealer </input><span>-  $14.99 listing fee for 31 days</span>
      </div>
    </div>
      <!-- <div>
        <div class="span2">
          <strong> Make *</strong>
        </div>
        <div class="span10">
          <select  name="make" >
            <option value="">-------</option>
          </select>
          <strong> Model *</strong>
          <select  name="model" >
            <option value="">-------</option>
          </select>
          <strong> Trim </strong><input type="text"></input>
        </div>
      <div>
      <div class="row-fluid">
        <div class="span2">
          <strong> Year *</strong>
        </div>
        <div class="span10">
          <input type="text"></input>
          <strong> Kilometrs *</strong>
          <input type="text"></input>
        </div>
      </div>
      <div class="row-fluid">
      <div class="row-fluid">
        <div class="span2">
          <strong> Body type *</strong>
        </div>
        <div class="span10">
          <select type="radio" name="body_type" >
            <option value="">-</option>
          </select>
          <strong> Transmission *</strong>
          <select  name="transmission" >
            <option value="">-</option>
          </select>
         </div>
      </div>
      <div class="row-fluid">
        <div class="span2">
          <strong> Colour *</strong>
        </div>
        <div class="span10">
          <select  name="colour" >
            <option value="">-</option>
          </select>
          <strong> Drivetrain *</strong>
          <select  name="drivetrain" >
            <option value="">-</option>
          </select>
         </div>
      </div>

      <div class="row-fluid">
        <div class="span2">
          <strong> Type *</strong>
        </div>
        <div class="span10">
          <select  name="type" >
            <option value="">-</option>
          </select>
          <strong> Fluel type *</strong>
          <select  name="fluel_type" >
            <option value="">-</option>
          </select>
         </div>
      </div> -->
    <div class="row-fluid">
      <div class="span2">
        <strong> Ad title *</strong>
      </div>
      <div class="span10">
        <input type="text" name="advert[title]"></input>  
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        <strong> Description *</strong>
      </div>
      <div class="span10"> 
        <textarea id="some-textarea" class='wysihtml5' rows="10" cols="40" placeholder="Enter text .." name="advert[description]">
        </textarea>
      </div>
    </div>  
 <!--    <div class="row-fluid">
      <div class="span2">
        <strong>  Video *</strong>
      </div>
      <div class="span10">
        <label>Add a YouTube video to your adUpload your video to YouTube then enter the link below </label><br>
        <input type="text" name="video" placeholder ="http://www.youtube.com/watch?v=-zmI_X5Wzn0"></input>  
      </div>
    </div> -->
    <div class="row-fluid">
      <div class="span2">
        <strong>  Email *</strong>
      </div>
      <div class="span10">
        <label>Your email address will not be shared with other </label>
        <input type="email" name="advert[email]"></input>  
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        <strong> Phone *</strong>
      </div>
      <div class="span10">
        <input type="text" name="advert[phone]"></input><br>
        <label>Optional. If you enter your phone number above, it will show up on your Ad.</label>  
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        <strong> Location *</strong>
      </div>
      <div class="span10">
        <select name="advert[location_id]" id="Location_ID">
          <option value="">----------</option>
        </select><br>
        <label>Please select your location or the one nearest you. Your Ad will be posted on both the site for that location and Kijiji Cariboo Area.</label>  
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        <strong> Address *</strong>
      </div>
      <div class="span10">
        <input type="text" name="advert[address]"></input><br>
        <label>Enter your postal code and/or street address above</label>  
      </div>
    </div>
      
    <div class="row-fluid">
      <div class="span12"></div>  
    </div>
  
    <div class="row-fluid">
      <div class="span2">
      </div>
      <div class="span4">
        <%= f.submit :value => "Submit", class: 'btn btn-success' %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12"></div>  
    </div>
  <%end%>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });
  })
</script>